.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:2000;
}
.notes-modal{
    background: white;
    width: 700px;
    max-height: 80vh;
    overflow-y: auto;
    padding: 25px;
    border-radius: 12px;
}
.notes-content{
    max-height: 350px;
    overflow-y: auto;
    line-height: 1.8;
}
.notes-modal h2{
    margin-bottom: 20px;

}
.notes-modal h3{
    margin-bottom: 20px;
}
.notes-content{
    margin-bottom:20px;
    font-size: 18px;
    text-align: left;
}